@keyframes play60 {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -6000px 0px;
  }
}
@keyframes reset60 {
  0% {
    background-position: -6000px 0px;
  }
  100% {
    background-position: 0px 0px;
  }
}
.shapeshifter {
  animation-duration: 1000ms;
  animation-timing-function: steps(60);
  width: 100px;
  height: 100px;
  animation-fill-mode: forwards;
  background-repeat: no-repeat;
}
.shapeshifter.play {
  animation-name: play60;
}
.shapeshifter.reset {
  animation-name: reset60;
}
